<div class="comment-list">
<h4>Comments:</h4>

  <% commentable.comments.each do |comment| %>
    <p>
      <%= "#{comment.user.name}: #{comment.body}" %><br>
      <%= comment.show_time(comment.created_at) %>
    </p>
  <% end %>
</div>
