<div class="comments">
<h4>Comments:</h4>

  <% commentable.comments.each do |comment| %>
    <p>
      <%= "#{comment.user.email}: #{comment.body}" %><br>
      Added on: <%= comment.created_at %>
    </p>
  <% end %>
</div>
