


<!--
<%= link_to 'Show public profile', user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
<div class="edit-page-wrapper">
  <h1 class="edit-page-title">Edit My Profile</h1>
  <%= render 'form' %>

</div>
