// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

$(document).on('ready page:load', function () {

  $('.comment-form').submit(function(event) {
    event.preventDefault();
    var commentList = $(this).parent().siblings('.comment-list')[0];
    $.ajax({
      url: $(this).attr('action'),
      type: 'POST',
      dataType: 'json',
      data: $(this).serialize(),

      success: function (data) {
        console.log(this);
        var comment = '<div class="comment-list-item">' + '<img src="http://res.cloudinary.com/frankychau/image/upload/c_thumb,h_50,w_50/' + data.comment.user.profile_img +'" >' + '<h2 class="commenter-name">' + data.comment.user.name + '</h2> <h4 class="commenter-info">' +
                      data.comment.created_at + '</h4>' + '<hr class="recomm-underline">' + '<p class="comment-content">' +
                     data.comment.body + '</p>'+ '</div>';
        $(commentList).append(comment);

        gotoBottom(commentList);

       }
    });
  });
});

function gotoBottom(div){
  div.scrollTop = div.scrollHeight;
}
