<h1>Photo Gallery</h1>
  <div class="gallerys-container">
    <% @journeys.each do |f| %>
      <div class="each-gallery">
        <%= link_to gallery_journey_path(f), :"data-no-turbolink" => true do %>
          <div>
            <% if f.photo_gallery != [] %>
              <%= cl_image_tag (f.feat_img) %>
            <% else %>
              <%= link_to 'Add a photo to this Journey!', journey_path(f) %>
            <% end %>
          </div>
          <div>
            <%= f.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
