// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-list-item img {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    height: 7em;
    width: 7em;
}
