// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-list-item img {
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
  height: 5em;
  width: 5em;
  border-radius: 50%;
}
