// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-list-item img {
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
  margin-left: 1em !important;
  margin-top: 1em !important;
  border-radius: 50%;
}


.fancybox-inner {

  .commenter-name {
    color: #314CD7;
    margin-right: 1em;
    font-size: 1.3em;
    margin: 0;
  }
  .commenter-info {
    font-size: 1em;
    margin: 0;
  }
  .recomm-underline {
    margin:0.7em;
  }
  .comment-list-item {
    height:8em;
    border: none;
  }
}

.comment-form p {
    margin-top: 1em;
}
