// Place all the styles related to the diary_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #map-canvas {
//   height:0;
//   width:0;
//   overflow:hidden;
// }


 #map {
   width: 400px;
   height: 400px;
 }

 #path_map {
   width: 1500px;
   height: 500px;
 }


#animatedModal {
   position: fixed;
   width: 100% !important;
  //  height: 50% !important;
   top: 150px !important;
   left: 0px;
   overflow-y: auto;
   z-index: 9999;
   opacity: 1;
   animation-duration: 0.6s;
   background-color: #03A9F4 !important;
}
