// Place all the styles related to the favourites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nav-user-logout {
  position: fixed;
  z-index: 10;
  right: 5em;
  margin-top: 4.3em;
  font-family: static;
  font-size: 1.4em;
  color: #B6D2F4;
  a {
    color: #B6D2F4;  
  }
}

.favourites-wrapper {
  @include outer-container(100%);
    background-image: url("concrete_seamless.png");
    background-repeat:repeat;
    padding: 8em;

}

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  height: 32em;
  float: left;
  width: 23.4em;
  float: left;
  margin: auto;
  display: block;
}

#homepage-diary-toggle {
  margin-right: 1.5em;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 1em 0 0;
  position: relative;


  .card-image {
    overflow: hidden;
    height: 200px;
    background-color: $card-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    height: 10.2em;
    overflow: scroll;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
.favourites-title {
  text-align: center;
  width: 100%;
  margin-bottom: 3em;

}

.recommend-alreday {
    color: blue;
    background-color: grey;
    cursor: no-drop;
}
.hero-favourites {
  $base-border-radius: 3px !default;
  // $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $background-image: 'favorite-slider-bg.jpg';


  @include background(url(asset-path($background-image)), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 3em;
  margin-top: -5em;
  height: 70%;
  // margin-bottom: 8em;

  @include transform(translateY(50px));
  .logo {
    img {
      margin:1.5em;
      transform: translateY(1em);
      margin-top: 0;
    }
  }
}
#nav-user-favourites {
    position: fixed;
    z-index: 10;
    right: 5em;
    margin-top: 4.5em;
}
