// Place all the styles related to the journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#my-awesome-dropzone {
    width: 60%;
    align-content: center;
    margin: auto;
}

.gallery-container {
  margin-left: 11em;
  .each-photo {
    margin: 2em;
    width: 25%;
    display: inline-block;
    img {
      border: 22px solid white;
      border-bottom: 45px solid white;
      -webkit-box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
      -moz-box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
      box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
    }
  }
}
