// Place all the styles related to the journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#my-awesome-dropzone {
    width: 60%;
    align-content: center;
    margin: auto;
    margin-bottom: 3em;
}

.gallery-container {
  margin-left: 11em;
  .each-photo {
    margin: 2em;
    width: 25%;
    display: inline-block;
    img {
      border: 22px solid #EFEDE8;
      border-bottom: 45px solid #EFEDE8;
      -webkit-box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
      -moz-box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
      box-shadow: -2px 26px 65px -8px rgba(141,141,143,1);
    }
  }
}

#journey-last-step {
  left: -54% !important;
  #photo-last-step {
    width: 56em;
    height: auto;
  }
}
#msform {
width: 400px;
margin: 50px auto;
text-align: center;
position: relative;
}
#msform fieldset {
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;

box-sizing: border-box;
width: 80%;
margin: 0 10%;

/*stacking fieldsets above each other*/
position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 15px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
font-family: montserrat;
color: #2C3E50;
font-size: 13px;
}
/*buttons*/
#msform .action-button {
width: 100px;
background: #295ED5;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
box-shadow: 0 0 0 2px white, 0 0 0 3px #295ED5;
}
/*headings*/
.fs-title {
font-size: 15px;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
font-size: 13px;
color: #666;
margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  width: 40em;
  margin-left: -5em;
}
#progressbar li {
list-style-type: none;
color: white;
text-transform: uppercase;
font-size: 16px;
width: 33.33%;
float: left;
position: relative;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 20px;
line-height: 20px;
display: block;
font-size: 10px;
color: #333;
background: white;
border-radius: 3px;
margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: white;
position: absolute;
left: -50%;
top: 9px;
z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
background: #295ED5;
color: white;
}

.back-img-journey {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(1280) !default;
  $hero-background-top: #E0EDF8;
  $hero-background-bottom: #20392B;
  $hero-color: #E0EDF8;
  $gradient-angle: 10deg;


  @include background(no-repeat $hero-background-top scroll);
  // background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  height: 52em;
  margin-top: -6em;
  margin-bottom: 4em;

  @include transform(translateY(50px));

  .hero-logo {
    margin-bottom: 1em;
    border-radius: 50%;
    color: grey;
    background-color: #B5B5B5;
    height: 10em;
    margin: auto;
    border: 2px solid;
    width: 13%;
    margin-top: -11em;
    overflow: hidden;
    img {
      margin-top: -0.3em;
      height: 10.5em;
      width: 10em;
    }
  }


  .logo {
    img {
      margin:1.5em;
      transform: translateY(1em);
      float: left;
    }
  }

  .journey-header-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 5.5em;
    text-align: center;
    .recommend {
      @include span-columns(8);
    }
    .no-f-yet.f-already {
      @include span-columns(8);

    }
    .journey-stat {
      @include span-columns(16);
      height: 4em;
      .activity-tags {
      color: #295ED5;
      float: left;
      margin-bottom: 0;
      margin-top: 0.6em;
      margin-left: 1em;
      }
      img {
        margin-left: 0.5em;
        float: left;
      }
      .journey-stat-name {
        margin-top: 0.7em;
        margin-left: 0.5em;
        float: left;
      }
      .journey-tag-form {
        display:none;
      }
    }



    .journey-header-copy {
      text-align: center;
      margin-top: 2em;


      .journey-title {
        font-size: 38px;
        color: #295ED5;
      }

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-size: 15px;
        color: #87B5ED;
        margin: 0 auto 0 auto;


        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 82%;
        }
      }
    }
  }
}

.journey-wrapper {
  color: black;
  @include outer-container(100%);
  .journey_aside {
    @include span-columns(8);
    margin-right: 0;
  }
  .journey_article {
    @include span-columns(8);
    position: relative;
    left: 2em;
  }
}

.journey-picture img {
  height: 30em;
  margin-left: 6em;
  margin-top: 9em;
  border: 12px solid #EFEDE8;
  border-bottom: 55px solid #EFEDE8;
  transform: rotate(-2deg);
  z-index: 1;
  box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.6);

}

.journey-picture-stat-section {
  height: 56em;
  background-image: url(lined_paper_@2X.png);
  background-repeat:repeat;
}

.journey-diaries-section {
  display: flex;
  justify-content: center;
}

.comment-form-list-section {
  height: 56em;
  background-image:url(photography_@2X.png);
  background-repeat:repeat;
}


.commenter-name, .commenter-info {
  display: inline-block;
}
.journey-stat {
    margin: 1em;
    .activity-tags {
      margin-bottom: 3em;
      margin-left: 3em;
      margin-top: -1em;
      color: #295ED5;
      span {
        margin: 0 1em;
        border: 1px solid #295ED5;
        padding: 6px 25px;
      }
    }
}

.new_diary_entry_block {
  display: inline-block;
  background-image: url(asset-path("crumpled_white_paper_texture_by_melemel.jpg"));
  -webkit-box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  border: 12px solid #EFEDE8;
  border-bottom: 60px solid #EFEDE8;  text-align: center;
  height: 33em;
  margin: 1.5em;
  width: 29em;
  a{
    img {
      margin-top: 25%;
    }
  }
}
.diary_entry_block {
  display: inline-block;
  margin: 1.5em;
  h2 {
    position: absolute;
    margin: 2em;
    font-size: 3em;
  }
}

.diary_img_preview{
  -webkit-box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 12px -2px rgba(0,0,0,0.75);
  border: 12px solid #EFEDE8;
  border-bottom: 60px solid #EFEDE8;  text-align: center;
  height: 33em;

  width: 29em;
}
.diary_text_preview {
  margin: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .diary-title {
    color: #658ADE;
    font-size: 2em;
  }
}

.journey-stats {
  margin-top: 5em;
  margin-left: -4em;
}

.journey-stat-name {
    display: inline-block;
    color: #374BD9;
    margin-left: 0.3em;
    transform: translateY(-0.5em);
    margin-bottom: 1.5em;
    font-size: 20px;
}

.journey-stat-content {transform: translateY(-1em);margin-left: 3em;}

.journey-stat:last-child img {
    margin-left: 0.5em;
}

.journey-stat:nth-child(3) h3 {
    margin-left: 0;
    transform: translateY(-10px);
}

.comment-form.journey_aside {
    margin-left: 7em;
    margin-top: 7em;
    width: 41%;
}

#comment_body {
  background-color: transparent;
  border: 1px solid #98B7EF;
  height: 25em;
  width: 80%;
}

.comment-list.journey_article {
  margin-top: 9em;
  width: 42%;
  height: 84%;
  overflow: scroll;
}

#journey_path_map {
  height: 500px;
  width: 1500px;
  margin-top: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .gm-style-iw {
    height: 40px;
    width: 300px;
  }
}

.map-diary-title {
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
    height: 3em;
}
.journey-title {
  text-transform: uppercase;
}
.journey-location-date {
  @include outer-container;
  @include clearfix;
  text-align: center;
  .first-book {
    @include span-columns(4);
    float: left;
    display: block;
    width: 21em;
    display: block;
    margin: 4em;
    height: 16em;
    position: relative;
    background-image: url(asset-path("SingleJourney-location-bg.png"));
    .journey-location-sm {
        position: absolute;
        left: 4.5em;
        top: 3.5em;
        font-size: 21px;
        color: #295ED5;
        strong {
        position: absolute;
        color: #295ED5;
        top: 2em;
        font-size: 0.88em;
        }
    }
  }
  .second-book {
    @include span-columns(4);
    float: left;
    display: block;
    width: 21em;
    display: block;
    margin: 4em;
    height: 16em;
    position: relative;
    background-image: url(asset-path("SingleJourney-startdate-bg.png"));
    .journey-location-icon-sm {
      position: relative;
      left: 5em;
      top: 3.5em;
        strong {
        position: absolute;
        color: #295ED5;
        left: 1.5em;
        font-size: 1.5em;
        }
        img {
        float: left;
        margin-top: 0.3em;
        }
    }
  }
  .third-book {
    @include span-columns(4);
    float: left;
    display: block;
    width: 21em;
    display: block;
    margin: 4em;
    height: 16em;
    position: relative;
    background-image: url(asset-path("SingleJourney-enddate-bg.png"));
  }

}

.journey-location-icon-sm {
    position: absolute;
    left: 6em;
    top: 3.5em;
    strong {
      float: left;
      margin: 1em;
      font-size: 1.5em;
      line-height: 0.3em;
      margin-left: 0.5em;
      color: #295ED5;
    }
    img {
      float: left;
    }
}

.journey-location-sm {
    position: absolute;
    left: 5em;
    top: 3.5em;
    font-size: 21px;
    color: #295ED5;
    strong {
    position: absolute;
    color: #295ED5;
    top: 2.5em;
    font-size: 0.88em;
    left: 1em;
    }
}

.journey-location-sm.data-on-book {
    font-size: 1.3em;
    strong {
    width: 4em;
    line-height: 1.3em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    }
}
