// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.each-gallery {
  margin: 1.1em;
  display: inline-block;
  text-align: center;
  img {
    display: block;
    margin: auto;
  }
}

#gallery-comment-form #comment_body {
    background-color: transparent;
    border: 1px solid #98B7EF;
    height: 4em;
    width: 100%;
    margin-top: 2em;
}

.img_large img {
  margin: auto;
  display: inline-block;
}
.button_to {
  input[type="submit"]{
    text-align: right;
    margin-top: -3px;
  }
}

.img_large {
  .comments {
    h4 {
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 6px;
    }
  }
}

.img_small img {
  width: 257px;

}

.gallery-container {
    margin: 14em;
    margin-top: 4em;
    padding-left: 1em;
}
.gallery-wrapper {
  background-image: url("concrete_seamless.png");
  background-repeat:repeat;
  padding-bottom: 10em;
  margin-top: 3.8em;

}

.img_large{
  display: none;
}

a.fancybox-nav.fancybox-next {

  height: 57%;
  top: 3%;
  width: 17%;
  position: absolute;
}
a.fancybox-nav.fancybox-prev {
    height: 57%;
    top: 3%;
    width: 17%;
    position: absolute;
}

.photo-gallery-title {
    /* display: block; */
    /* margin: auto; */
    text-align: center;
    padding-top: 4em;
    font-size: 18px;
    color: #0350A2;
}

.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
      text-align: right;
      margin: 0 15em;
      font-size: 19px;
      color: #191709;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        @include columns(2 8em);
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}
.gallery_img_preview {
  height: 90%;
  width: 100%;
}
.hero-photo {
  $base-border-radius: 3px !default;
  // $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $background-image: 'PhotoGallery-slider-bg.jpg';


  @include background(url(asset-path($background-image)), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 3em;
  margin-top: -4.6em;
  height: 70%;
  // margin-bottom: 8em;

  @include transform(translateY(50px));
}
.gallery-title {
  padding-top: 7em;
  text-align: center;
}
.each-gallery img {
    border: 15px solid #FFFFFF;
    text-align: center;
    height: 300px;
    width: 310px;
}
.img-title {
    margin-top: 1em;
    font-size: 1.5em;
}
.photo-gallery-title {
  h1 {
    font-family: moon-light;
    font-size: 2em;
    color: #295ED5;
  }
  h2 {
    font-family: static;
    color: #87B4ED;
  }
}
