// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {

    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user-timeline {
  display: none;
}


.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $background-image: 'profile-user-bg.jpg';

  @include background(url($background-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  height: 52em;
  margin-top: -6em;
  margin-bottom: 8em;

  @include transform(translateY(50px));

  .hero-logo {
    margin-bottom: 1em;
    border-radius: 50%;
    color: grey;
    background-color: #B5B5B5;
    height: 10em;
    margin: auto;
    border: 2px solid;
    width: 13%;
    margin-top: -11em;
    img {
      margin-top: -0.3em;
      height: 10.5em;
      width: 10em;
      }
    }


  .logo {
    img {
      margin:1.5em;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 10em;
    text-align: center;

    .hero-copy {
      text-align: center;
      margin-top: 2em;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

section {
  color: black;
  text-align: center;
  @include outer-container;
  .empty-div {@include span-columns(1); }
  aside { @include span-columns(9); }
  article {
    @include span-columns(6);
    position: relative;
    left: 2em;
  }
}

#nav-user-logout {
  @include outer-container;
}

.user-journey-list {
  @include outer-container;
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-alligned-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
  margin: 0.5em 0.5em;
  position: relative;

  .grid-alligned-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    // padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    // position: relative;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-alligned-item img {
    display: block;
    height: auto;
    margin: auto;
    background-position: center;
  }

  .grid-alligned-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-alligned-item p {
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.5em;
    margin: auto;

    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-alligned-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.about {
  height: 15em;
  text-align: left;
  text-align: left;
  margin-top: -10.5em;
  margin-bottom: 7em;
  position: relative;
  z-index: 99;

}

.overall {
  height: 15em;
  text-align: right;
  margin-top: -15.5em;
  margin-bottom: 7em;
  position: relative;
  z-index: 99;
  .couter {
    background-color: #b6d2f4;
    border-left: 2em solid #7ca7e5;
    text-align: left;
    .counter1 {
      border-bottom: 1px solid white;
      height: 4.5em;
      width: 79%;
      margin: auto;
      line-height: 5em;
    }
    .counter2 {
      height: 4.5em;
      width: 79%;
      margin: auto;
      line-height: 5em;
    }
  }
}

.userTimeline {
  margin-top: 15em;
  img{
    transform: translate(-3em);
  }
  .userTimeline-image2 {
    img {
      right: -3em;
      position: relative;
      width: 100%;
      top: -3em;
      z-index: -1;
    }
  }
}

.activity-stream {
  // transform: translate(-4em);
  margin-top: 3em;
  img {
    width: 80%;
  }
  .activity-title {

    color: #295ED5;
    text-align: left;
    margin-top: 3em;
    margin-left: 5em;
    .activity-tags {
      width: 80%;
      margin: 0;
      text-align: center;
      margin-top: 2em;
      margin-left: -1em;
    }
    h2 {
      font-size: 2em;

    }
    h3{
      font-size: 1.1em;
      margin-top: -0.5em;
    }

    span {
      order: 2px solid;
      height: -1em;
      border: 2px solid;
      /* text-align: left; */
      margin: 0 1em;
      padding: 0.8em 2em;
      width: 10px;
    }

    p {
      position: relative;
      text-align: left;
      height: 7em;
      overflow: hidden;
      width: 80%;
    }
  }

}

ul.navigation{
  @include transition (all 0.5s ease-in-out);
  // display: none;
  font: $moon-font;
	list-style:none;
	padding:0;
	margin:0;
	position:fixed;
	right: -100px;
	top: 3em;


  li{
  	height:50px;
  	width:150px;
  	background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    padding:10px;
    position:relative;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    .menu-out {
      display: none;
      p {
        margin: 0;
        display: inline-block;
        width: auto;
        margin: 0;
        display: inline-block;
        /* margin-top: -8em; */
        transform: translateY(-0.6em);
        padding: 0.38em 0.38em;
        padding-top: 0.9em;
      }
      img {
        display: inline-block;
        width: auto;
        margin: 0;
        position: relative;
        top: -0.15em;

      }
    }
  }

  li:hover {
      right: 100px;
      // transition: right 0.5s $ease-in-quad;
      // -webkit-transition: right 10s $ease-in-quad;
      // -moz-transition: right 0.5s $ease-in-quad;
      .menu-out {
        display: block;
      }
      span {
        display: none;
      }
  }
}
.stats {
  p {
    margin: 0;
    display: inline-block;

  }
}
.footer {
  margin-top: 8em;
  img {
    width: 100%;
  }
}
